
@{
    ViewData["Title"] = "View";
    ViewBag.Title = "LaunchDetail";
}

<script>
    window.addEventListener("load", () => {
        countdown("@ViewBag.LaunchDetails.window_start", "cdwn_timer");
    });
</script>

<div class="launch_details_container">
    @{
        if (ViewBag.LaunchDetails == null)
        {
            <h2 color="red">ERROR</h2>
        } else
        {
            <div class="launch_details_name">
                @ViewBag.LaunchDetails.name
            </div>
            <div class="launch_details_img">
                <img src="@ViewBag.LaunchDetails.image" width="500" height="500">
            </div>

            <div class="launch_details">
                
                <div class="launch_details_desc">
                    <span>Launch start</span>
                    <div class="launch_start" id="cdwn_timer">
                        T- -:--:--:--
                    </div>
                </div>
                <div class="launch_details_desc">
                    <span>Launch status</span>
                    <div class="launch_status">
                        @ViewBag.LaunchDetails.status.description
                    </div>
                </div>
            </div>
        }
    }

    </div>
